# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.output/
.nuxt/

# Misc
.DS_Store
*.log
*.local
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Temporary files
*.tmp
countries_data.json
/tmp/
